body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    text-align: center;
    background-color: #142536;
    color: white;
    padding: 20px;
    border-radius: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    
  }
  
  section {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #181a20;
    border-radius: 8px;
    
  }

  .skill-list{
    list-style: none;
    padding: 0;
  } 
  .skill-list li {
    background-color: #f0f8ff;
    margin: 6px 0;
    padding: 8px 12px;
    border-left: 4px solid #222e3b;
    border-radius: 4px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .skill-list li:hover {
    background-color: #e2f0ff;
  }
  
  .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #1d2234;
    color: white;
    text-decoration: none;
    border: none;
    border-radius:3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-family:'Times New Roman', Times, serif;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  
  a {
    color: #142536;
    text-decoration:underline;
    
  }
